* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    margin: 50px 150px;
}

.nav-title {
    font-size: 45px;
    font-weight: 800;
}

nav ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-left: 50px;
}

.tex-primary {
    color: #FD6E0A;
}

.buttonhire {
    width: 150px;
    height: 64px;
    background-color: #FD6E0A;
    border-radius: 10px;
    color: var(--White-Color, #FFF);
    font-size: 20px;
    font-weight: 700;
    border: none;
}

.buttonhire:hover {
    color: wheat;
    background-color: black;
}

/* bannar style */
.header {
    background-image: url('../images/developer.png');
    background-repeat: no-repeat;
    margin-left: 50px;
}


.banner {
    display: flex;
    align-items: center;
    margin-left: 150px;

    background-color: white;
    background-image: url('../images/header_bg.png');
    background-position: bottom right;
    background-repeat: no-repeat;
}

.banner-subtitle {
    font-size: 45px;
    font-weight: 500;
}

.banner-title {
    font-size: 85px;
    font-weight: 600;
}

.benner-decpri {
    width: 585px;
    font-size: 18px;
    color: var(--Dark-03, #757575);
    font-weight: 400;
    line-height: 30px;
}

.Download-btn {
    border-radius: 5px;
    background: #FD6E0A;
    width: 200px;
    height: 64px;
    color: var(--White-Color, #FFF);
    text-align: center;
    border: none;
    font-size: 20px;
    font-weight: 700;
    margin-right: 50px;
    margin-top: 50px;
}

.Download-btn:hover {
    background-color: black;
    color: wheat;
}

.Contact-btn {
    width: 160px;
    height: 64px;
    border-radius: 5px;
    border: 1px solid #FD6E0A;
    color: #FD6E0A;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
}

.Contact-btn:hover {
    background-color: black;
    color: wheat;
}

.profile-pic {
    width: 584px;
    height: 676px;
}

main {
    max-width: 1140px;
    margin: 0 auto;
}


/* About-Me-container */


.about {
    margin-top: 130px;
    padding: 130px;
    border-radius: 10px;
    background: #FFF8F3;
}

.sectionTitle {
    color: #181818;
    text-align: center;
    font-size: 35px;
    padding-bottom: 25px;
}

.sectionDispri {
    color: #757575;
    font-size: 18px;
    font-weight: 400;
    padding-bottom: 25px;
}

.about-info-container {
    display: flex;
    justify-content: space-around;
}

.about-info {
    text-align: center;
    padding-top: 35px;
}

.info-title {
    padding-bottom: 20px;
}


/* What i do section */

.what-Container {
    margin-top: 130px;
    text-align: center;
}

.What-title {
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 35px;
}

.What-decp {
    width: 909px;
    color: #757575;
    padding-left: 120px;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}


/* skill-section */

.skill-section {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
}

.skill-container {
    width: 267px;
    height: 377px;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}

.skill-img {
    width: 44px;
    height: 44px;
    padding: 40px;
}

.skill-title {
    color: #181818;
    padding-left: 40px;
    font-size: 20px;
    font-weight: 700;
}

.skill-decp {
    color: #757575;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    padding-left: 40px;
    padding-top: 25px;
}


/* <!-- A summary of My Resume - Section --> */
.section-containerr {
    display: flex;
    justify-content: space-between;
}

.section-title {
    margin-top: 140px;
    margin-bottom: 130px;
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}

.My-detels {
    color: #474747;
    margin-bottom: 40px;
    font-size: 30px;
    font-weight: 700;
}

.inf-title {
    color: #474747;
    font-size: 25px;
    font-weight: 700;
}

.inf-date {
    color: #757575;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
    margin-top: 10px;
}

.inf-desp {
    color: var(--Dark-03, #757575);
    width: 511px;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}

hr {
    width: 558px;
    height: 1px;
    background: #D1D1D1;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-right: 30px;
}

.Down-cv {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.btn-Download {
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    border-radius: 5px;
    background: #FD6E0A;
    width: 200px;
    height: 64px;
    border: 0;
}

.btn-Download:hover {
    background-color: black;
    color: wheat;
}

/* footer-section */

.footer-section {
    background: #FFF8F3;
    width: 1600px;
    height: 650px;
    margin-top: 115px;
}

.footer-left {
    margin-left: 160px;
    margin-right: 50px;
}

.footer-container {
    display: flex;
    padding-top: 80px;
}

.footer-title {
    color: #181818;
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 20px;
}

.footer-decp {
    width: 562px;
    color: #474747;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}

.your-name {
    background-color: black;
}

.social-link {
    margin-top: 30px;
}

.links {
    margin-right: 24px;
}

.input-name {
    width: 461px;
    height: 64px;
    border-radius: 5px;
    background: #FFF;
    border: none;
    color: var(--Dark-03, #757575);
    font-size: 16px;
    font-weight: 400;
    padding-left: 30px;
}

.input-email {
    margin-top: 24px;
    margin-bottom: 24px;
    width: 461px;
    height: 64px;
    border-radius: 5px;
    background: #FFF;
    border: none;
    color: var(--Dark-03, #757575);
    font-size: 16px;
    font-weight: 400;
    padding-left: 30px;
}

.input-message {
    width: 461px;
    height: 180px;
    border-radius: 5px;
    background: #FFF;
    border: none;
    color: var(--Dark-03, #757575);
    font-size: 16px;
    font-weight: 400;
    padding-left: 30px;
    margin-bottom: 24px;
}

.input-btn {
    width: 150px;
    height: 64px;
    border-radius: 5px;
    background: #FD6E0A;
    border: none;
    color: var(--White-Color, #FFF);
    text-align: center;
    font-size: 18px;
    font-weight: 600;
}

.input-btn:hover {
    background-color: black;
    color: wheat;
}